<a href="https://colab.research.google.com/github/RoyElkabetz/Text-Summarization-with-Deep-Learning/blob/main/Text_summarization_using_T5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## uncomment to mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
!nvidia-smi

Fri Jun 25 07:01:26 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.27       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   43C    P8     8W /  75W |      0MiB /  7611MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [4]:
!pip install --quiet transformers==4.5.0
!pip install --quiet pytorch-lightning==1.2.7

     |████████████████████████████████| 839kB 6.8MB/s
     |████████████████████████████████| 276kB 13.6MB/s
     |████████████████████████████████| 829kB 16.4MB/s
     |████████████████████████████████| 122kB 22.1MB/s
     |████████████████████████████████| 276kB 21.6MB/s
     |████████████████████████████████| 1.3MB 27.2MB/s
     |████████████████████████████████| 296kB 40.0MB/s
     |████████████████████████████████| 143kB 39.1MB/s
  Building wheel for future (setup.py) ... done
  Building wheel for PyYAML (setup.py) ... done

In [5]:
import json
import pandas as pd
import numpy as np
import torch
from pathlib import Path
from torch.utils.data import Dataset, DataLoader
import pytorch_lightning as pl
from pytorch_lightning.callbacks import ModelCheckpoint
from pytorch_lightning.loggers import TensorBoardLogger
from sklearn.model_selection import train_test_split
from termcolor import colored

from transformers import (
    AdamW,
    T5ForConditionalGeneration,
    T5TokenizerFast as T5Tokenizer
)

from tqdm.auto import tqdm

In [8]:
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
from matplotlib import rc

%matplotlib inline
%config InlineBackend.figure_format='retina'
sns.set(style='whitegrid', palette='muted', font_scale=1.2)
rcParams['figure.figsize'] = 16, 10

In [11]:
DATASET_PATH = '/content/gdrive/MyDrive/Datasets/Text/news_summary.csv'

In [10]:
pl.seed_everything(216)

Global seed set to 216

216

In [12]:
df = pd.read_csv(DATASET_PATH, encoding='latin-1')
df.head()

               author  ...                                              ctext
0        Chhavi Tyagi  ...  The Daman and Diu administration on Wednesday ...
1         Daisy Mowke  ...  From her special numbers to TV?appearances, Bo...
2      Arshiya Chopra  ...  The Indira Gandhi Institute of Medical Science...
3       Sumedha Sehra  ...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4  Aarushi Maheshwari  ...  Hotels in Mumbai and other Indian cities are t...

[5 rows x 6 columns]

In [15]:
 df = df[['text', 'ctext']]
 df.head()

                                                text                                              ctext
0  The Administration of Union Territory Daman an...  The Daman and Diu administration on Wednesday ...
1  Malaika Arora slammed an Instagram user who tr...  From her special numbers to TV?appearances, Bo...
2  The Indira Gandhi Institute of Medical Science...  The Indira Gandhi Institute of Medical Science...
3  Lashkar-e-Taiba's Kashmir commander Abu Dujana...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4  Hotels in Maharashtra will train their staff t...  Hotels in Mumbai and other Indian cities are t...

In [16]:
df.columns = ['summary', 'text']
df.dropna()
df.head()

                                             summary                                               text
0  The Administration of Union Territory Daman an...  The Daman and Diu administration on Wednesday ...
1  Malaika Arora slammed an Instagram user who tr...  From her special numbers to TV?appearances, Bo...
2  The Indira Gandhi Institute of Medical Science...  The Indira Gandhi Institute of Medical Science...
3  Lashkar-e-Taiba's Kashmir commander Abu Dujana...  Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4  Hotels in Maharashtra will train their staff t...  Hotels in Mumbai and other Indian cities are t...